h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
  color: #b81313;
}
p {
  font-size: 18px;
  line-height: 1.6;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 14px;
  color: #fff;
}

/* Compose Css */
.compose_form {
  display: flex;
  flex-direction: column;
}

.compose_form label {
  margin-top: 1rem;
  font-size: 16px;
}

.compose_text {
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #767676;
}

.compose_btn {
  margin-top: 2rem;
  width: 10%;
  padding: 1.2rem 2.5rem;
  text-align: center;
  background-color: rgb(77, 77, 161);
  color: #fff;
  border: 0;
  font-size: 15px;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.compose_btn:hover {
  background-color: rgb(71, 71, 200);
}



/* Error page */
.error_page_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.error_page_container img{
  width: 60%;
}


.post_container {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #bfbfbf;
}

.navbar_brand:hover {
  text-decoration: none;
  color: none;
}



/* responsive */
@media (max-width: 992px) {
  .compose_btn {
    width: 20%;
  }
}
@media (max-width: 500px) {
  .compose_btn {
    width: 25%;
  }
}
@media (max-width: 430px) {
  .compose_btn {
    width: 40%;
  }
}